name = "DynamicPPL"
uuid = "366bfd00-2699-11ea-058f-f148b4cae6d8"
authors = ["mohamed82008 <mohamed82008@gmail.com>"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
