name: Benchmarking

on:
  pull_request:

jobs:
  benchmarks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0  # need to fetch all commits, otherwise git checkout will fail

      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.11'

      - uses: julia-actions/cache@v2

      - name: Run benchmarks
        working-directory: ./benchmarks
        run: |
          # Capture version info into a variable, print it, and set it as an env var for later steps
          version_info=$(julia -e 'using InteractiveUtils; versioninfo()')
          echo "$version_info"
          echo "VERSION_INFO<<EOF" >> $GITHUB_ENV
          echo "$version_info" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

          ## Run the actual benchmarks
          # first switch to PR head
          git checkout ${{ github.event.pull_request.head.sha }}
          julia --project=. -e 'using Pkg; Pkg.instantiate()'
          julia --project=. benchmarks.jl json-head
          # then switch to PR base
          git checkout ${{ github.base_ref }}
          julia --project=. -e 'using Pkg; Pkg.instantiate()'
          julia --project=. benchmarks.jl json-base

          # combine them and save the output as an env var for later steps
          echo "BENCHMARK_OUTPUT<<EOF" >> $GITHUB_ENV
          julia --project=. benchmarks.jl combine >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

          # Get the current commit SHA of DynamicPPL
          DPPL_COMMIT_SHA=$(git rev-parse HEAD)
          echo "DPPL_COMMIT_SHA=$DPPL_COMMIT_SHA" >> $GITHUB_ENV

          COMMIT_URL="https://github.com/${{ github.repository }}/commit/$DPPL_COMMIT_SHA"
          echo "DPPL_COMMIT_URL=$COMMIT_URL" >> $GITHUB_ENV

      - name: Find Existing Comment
        uses: peter-evans/find-comment@v4
        id: find_comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: github-actions[bot]

      - name: Post Benchmark Results as PR Comment
        uses: peter-evans/create-or-update-comment@v5
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            ## Benchmark Report for Commit ${{ env.DPPL_COMMIT_SHA }}
            ### Computer Information
            ```
            ${{ env.VERSION_INFO }}
            ```
            ### Benchmark Results
            ```
            ${{ env.BENCHMARK_OUTPUT }}
            ```
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          edit-mode: replace
