name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  merge_group:
    types: [checks_requested]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        version:
          - '1.6' # minimum supported version
          - '1' # current stable version
        os:
          - ubuntu-latest
        arch:
          - x64
        num_threads:
          - 1
          - 2
        include:
          - version: '1'
            os: ubuntu-latest
            arch: x86
            num_threads: 2
          - version: '1'
            os: windows-latest
            arch: x64
            num_threads: 2
          - version: '1'
            os: macOS-latest
            arch: x64
            num_threads: 2
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
        with:
          coverage: ${{ matrix.version == '1' && matrix.os == 'ubuntu-latest' && matrix.num_threads == 1 }}
        env:
          GROUP: All
          JULIA_NUM_THREADS: ${{ matrix.num_threads }}
      - uses: julia-actions/julia-processcoverage@v1
        if: matrix.version == '1' && matrix.os == 'ubuntu-latest' && matrix.num_threads == 1
      - uses: codecov/codecov-action@v1
        if: matrix.version == '1' && matrix.os == 'ubuntu-latest' && matrix.num_threads == 1
        with:
          file: lcov.info
      - uses: coverallsapp/github-action@master
        if: matrix.version == '1' && matrix.os == 'ubuntu-latest' && matrix.num_threads == 1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: lcov.info
